* {
  margin: 0;
  padding: 0;
}

body {
  background: url(/img/12_col.gif) center top repeat-y;
  background-size: 90%;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "header header header header header header header header header header header header"
    "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
    "content content content content content content content content content sidebar sidebar sidebar"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  column-gap: 2%;
  row-gap: 15px;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 10px;
  height: 93vh;
}
.header,
.box1,
.box2,
.box3,
.content,
.sidebar,
footer,
.footer1,
.footer2,
.footer3,
.footer4 {
  border: 2px solid black;
}
.header {
  grid-area: header;
}
.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.content {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding: 5px;
  grid-area: footer;
  height: 150px;
  gap: 2%;
  height: auto;
}

.footer1,
.footer2,
.footer3,
.footer4 {
  margin: 5px 0;
}
/* Layouten skall anpassas efter olika enheter med brytpunkter för följande:
  1. Breda desktop skärmar: större än 1200px
  2. Mindre desktop skärmar: mellan 1200px och 960px
  3. Tablets såsom Ipad: mellan 960px och 768px
  4. Mobiltelefoner: mindre än 768px */

/* -------------------------------------------------------------------- */
/* Mindre desktop skärmar: mellan 1200px och 960px */
@media screen and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "header header header header header header header header header header header header"
      "box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
      "content content content content content content content content sidebar sidebar sidebar sidebar"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
    column-gap: 2%;
    row-gap: 15px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10px;
    height: 93vh;
  }
}

/* -------------------------------------------------------------------- */
/* Tablets såsom Ipad: mellan 960px och 768px */
@media screen and (max-width: 960px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "header header header header header header header header header header header header"
      "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
      "content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
    column-gap: 2%;
    row-gap: 15px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10px;
    height: 93vh;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 5px;
    grid-area: footer;
    height: 150px;
    gap: 2%;
    height: 30vh;
  }
}

/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* Mobiltelefoner: mindre än 768px */
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
      "header"
      "box1"
      "box2"
      "box3"
      "content"
      "sidebar"
      "footer";
    column-gap: 2%;
    row-gap: 10px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 10px;
    height: 93vh;
  }
  .header,
  .box1,
  .box2,
  .box3,
  .content,
  .sidebar,
  footer {
    height: 9rem;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 5px;
    grid-area: footer;
    column-gap: 2%;
    row-gap: 10px;
    grid-template-areas:
      "footer1"
      "footer2"
      "footer3"
      "footer4";
    height: auto;
    margin-bottom: 20px;
  }
  .footer1,
  .footer2,
  .footer3,
  .footer4 {
    height: 9rem;
  }
}
